# Dependencies
node_modules/

# Next.js
.next/
out/

# Vercel
.vercel/

# Environment
# .env
# .env.local
# .env.production.local
# .env.development.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo